
.screen1-loc-container {
    display: flex;
    position: absolute;
    color: #F5F9F9;
    bottom: 32px;
}

.screen1-location {
    border: none;
    background: none;
    color: #F5F9F9;
    padding-left: 12px;
}

.dum-location {
    font-size: 30px;
    padding-left: 9px;
}

.screen1-temp {
    width: 28vh;
    /* text-align: end; */
    font-size: 46px;
    align-items: center;
    display: flex;
    padding-right: 17px;
    justify-content: flex-end;
}

@media  screen and (min-width: 450px) {
    .screen1-temp {
        width: 62vh;
        /* text-align: end; */
        font-size: 46px;
        align-items: center;
        display: flex;
        padding-right: 17px;
        justify-content: flex-end;
    }
  }

.geo-location-image {
    width: 100%;
    height: 17vh;
}

.geo-position {
    position: relative;
}