* {
    margin: 0;
    padding: 0;
}

.App {
    height:100vh
}

.header {
    display: flex;
    justify-content: center;
}

.sub-header {
    display: flex;
    flex-flow: column;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.temp {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.temp-celcious {
    font-size: xx-large;
}

.C-eather {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-family: sans-serif;
}

.description {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    height: 21vh;
    color: white;
}

.sub-description {
    display: flex;
    flex-flow: column;
    font-size: 19px;
    justify-content: space-around;
    text-decoration: underline;
    font-family: sans-serif;

}

.center {
    display: grid;
    height: 51vh;
    align-items: center;
}

.img {
    height: 100vh;
    width: 100%;
}

.positioning {
    position: relative;
    z-index: 33;
    bottom: 581px;
}